django>=4.1.2
dj-database-url
dj-static
python-decouple
django-environ
gunicorn
psycopg2-binary
whitenoise
docutils
fonttools
idna
importlib-metadata
joblib
keyboard
keyring
kiwisolver
matplot
matplotlib
natsort
numpy
opencv-contrib-python
opencv-python
packaging
pandas
Pillow
pkginfo